

/* 하단 계좌번호 */
#footer .inner .bt_bank {margin-left:90px;}
#footer .inner .bt_bank .title {font-size:14px;font-weight:700;color:#1a1a1a;margin-bottom:10px;line-height:2;}
#footer .inner .bt_bank .title_sub {font-size:12px;font-weight:400;color:#3a3a3a;line-height:2;}
#footer .inner .bt_bank .title_sub > strong {font-weight:600;}
#footer .inner .bt_bank .bt_txt02 {font-size:12px;font-weight:400;color:#3a3a3a;line-height:2;}

/* 하단 에스크로 */
#footer .inner .bt_escrow {font-size:0;align-items:center;margin-bottom:50px;}
#footer .inner .bt_escrow a {font-size:0;display:flex;align-items:center;}
#footer .inner .bt_escrow a span {width:350px;font-size:12px;font-weight:300;color:#a8a8a8;line-height:1.6;word-break:keep-all;}
#footer .inner .bt_escrow a img {margin-right:10px;display:none;}
#footer .inner .bt_escrow a img.on {display:block;}

/* 하단 쇼핑몰정보 */
#footer .inner .bt_info {margin-top:50px;}
#footer .inner .bt_info .title {font-size:14px;font-weight:700;color:#1a1a1a;line-height:2;margin-bottom:10px;}
#footer .inner .bt_info .bt_info_list {display:flex;flex-wrap:wrap;justify-content:flex-start;max-width:500px;font-size:12px;font-weight:400;color:#1a1a1a;line-height:2;}
#footer .inner .bt_info .bt_info_list a {font-size:12px;font-weight:400;color:#1a1a1a;line-height:2;}
#footer .inner .bt_info .bt_info_list > div {margin:0 10px 0 0;}
#footer .inner .bt_info .bt_info_list > div span:first-child {font-weight:600;}

/* 하단 카피라이트 */
#footer .inner .bt_wrap2 {padding-top:50px;border-top:1px solid #dadada;display:flex;justify-content:space-between;}
#footer .inner .bt_wrap2 .bt_copyright {font-size:12px;font-weight:400;color:#a8a8a8;line-height:1.6;}

/* 하단 sns */
#footer .inner .bt_wrap2 .bt_sns {display:flex;align-items: center;}
#footer .inner .bt_wrap2 .bt_sns .title {font-size:14px;font-weight:700;color:#1a1a1a;}
#footer .inner .bt_wrap2 .bt_sns a {margin-left:10px;font-size:0;display:block;padding:0 10px;}
#footer .inner .bt_wrap2 .bt_sns a:last-child {padding-right:0;}
#footer .inner .bt_wrap2 .bt_sns a svg {height:20px;}
#footer .inner .bt_wrap2 .bt_sns a svg path {fill:#ababab;-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;  transition: all 0.3s;}
#footer .inner .bt_wrap2 .bt_sns a:hover svg path {fill:#111;}


/* 하단 */
	.footer_margin {margin-top:50px;}
	#footer {padding-bottom:80px;}
	#footer .inner {margin:0 auto;padding:40px 0 0 0;}
	#footer .inner .bt_logo {margin-bottom:40px;font-size:25px;flex-shrink:0;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;display:flex;}
	#footer .inner .bt_logo a {justify-content:flex-start;}
	#footer .inner .bt_logo img {max-width:200px;max-height:30px;}
	#footer .inner .bt_util {margin-bottom:0;}
	#footer .inner .bt_util ul {display:flex;justify-content:flex-start;flex-wrap:wrap;}
	#footer .inner .bt_util ul li {margin:0 10px 10px 0;padding:0;background:none}
	#footer .inner .bt_util ul li:first-child {margin:0 10px 10px 0;}
	#footer .inner .bt_util ul li a {font-size:13px;font-weight:300;}
	#footer .inner .bt_wrap {display:flex;flex-direction:column;justify-content:flex-start;margin-bottom:0;}
	#footer .inner .bt_cscenter {order:2;margin:40px 0 0 0;}
	#footer .inner .bt_cscenter .title {margin-bottom:10px;font-size:16px;}
	#footer .inner .bt_cscenter .bt_txt01 {font-size:13px;line-height:1.6;}
	#footer .inner .bt_cscenter .bt_txt02 {font-size:13px;line-height:1.6;}
	#footer .inner .bt_bank {order:3;margin:30px 0 0 0;}
	#footer .inner .bt_bank .title {margin-bottom:10px;font-size:16px;}
	#footer .inner .bt_bank .bt_txt02 {font-size:13px;line-height:1.6;}
	#footer .inner .bt_info {order:1;margin:40px 0 0 0;}
	#footer .inner .bt_info .title {margin-bottom:10px;font-size:16px;}
	#footer .inner .bt_info .bt_info_list {line-height:1.8;font-size:13px;word-break:keep-all;}
	#footer .inner .bt_escrow {margin-top:40px;margin-bottom:0;}
	#footer .inner .bt_escrow a span {font-size:11px;width:auto;}
	#footer .inner .bt_escrow a img {height:30px;}
	#footer .inner .bt_wrap2 {padding-top:40px;margin-top:40px;flex-direction:column-reverse;justify-content:flex-start;word-break:keep-all;border-top:1px solid #ebebeb;}
	#footer .inner .bt_wrap2 .bt_copyright {font-size:13px;}
	#footer .inner .bt_wrap2 .bt_sns {margin-bottom:30px;}
	#footer .inner .bt_wrap2 .bt_sns a {margin-left:10px;font-size:0;display:block;padding:0 6px;}
	#footer .inner .bt_wrap2 .bt_sns a:first-child {margin-left:-10px;}
	#footer .inner .bt_wrap2 .bt_sns a svg {height:20px;}

/* footer.xans-layout-footer */

.xans-layout-footer { position:relative;  }
.xans-layout-footer .util { overflow:hidden; }
.xans-layout-footer .util li { display:inline-block;  }
.xans-layout-footer .util li a { color:#000; text-transform:uppercase; }
.xans-layout-footer .info__address { color:#757575; line-height:24px; }
.xans-layout-footer .info__address span { display:inline-block; padding:0 25px 0 0; color:#6d6d6d; }
.xans-layout-footer .info__address span a { color:#6d6d6d; }
.xans-layout-footer .sns a { overflow:hidden; display:inline-block; width:20px; height:20px; margin-right:18px; white-space:nowrap; font-size:1px; line-height:1px; color:transparent; text-indent:150%; vertical-align:top; }
.xans-layout-footer .copyright { color:#6d6d6d; }
.xans-layout-footer .hosting { color:#000; }

/********************* Mobile *********************/
@media all and (max-width:767px) {
    .xans-layout-footer { padding:0 16px; }
    .xans-layout-footer .util { overflow:hidden; margin:30px 0 20px; }
    .xans-layout-footer .util li { margin:0 17px 0 0; }
    .xans-layout-footer .util li a { display:block;  font-size:14px; line-height:34px; }
	.xans-layout-footer .info__address span { display:inline-block; font-size:12px; line-height:19px; word-break: keep-all; }
    .xans-layout-footer .info__customer .tel { font-size:20px; }
    .xans-layout-footer .info__customer .runtime { margin:10px 0 0; font-size:12px; line-height:20px; color:#6d6d6d; }
    .xans-layout-footer .copyright { margin:10px 0 0; font-size:11px; }
}

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-layout-footer .sns { margin:20px 0 30px; }
    .xans-layout-footer .info { display:flex; flex-direction:column-reverse; }
    .xans-layout-footer .info__customer { margin:0 -24px; padding:30px 24px; border-top:1px solid #e0e0e0; }
    .xans-layout-footer .info__customer .heading { position:relative; }
    .xans-layout-footer .info__customer .toggle { position:absolute; top:0; width:100%; height:100%; overflow:hidden; white-space:nowrap; text-indent:150%; font-size:1px; color:transparent; line-height:1px; }
    .xans-layout-footer .info__customer .toggle .icon { position:absolute; top:5px; right:5px; }
    .xans-layout-footer .info__customer .content { overflow:hidden; visibility:hidden; height:0; box-sizing:border-box; transition:.5s; }
    .xans-layout-footer .info__customer.selected .toggle .icon { margin-top:3px; transform: rotate(135deg); }
    .xans-layout-footer .info__customer.selected .content {  visibility:visible; height:auto; margin:20px 0 0; }
}

/********************* Tablet *********************/
@media all and (min-width:768px) and (max-width:1024px) {
    .xans-layout-footer { padding:0 24px; }
    .xans-layout-footer .util { overflow:hidden; margin:30px 0; }
    .xans-layout-footer .util li { margin:0 20px 0 0; }
    .xans-layout-footer .util li a { font-size:15px; line-height:30px; }
	.xans-layout-footer .info__address span { display:inline-block; font-size:14px; line-height:25px; word-break: keep-all; }
    .xans-layout-footer .info__customer .tel { font-size:20px; }
    .xans-layout-footer .info__customer .runtime { margin:14px 0 0; font-size:15px; line-height:30px; color:#6d6d6d; }
    .xans-layout-footer .copyright { margin:20px 0 0; font-size:13px; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-layout-footer .util li a { display:block; margin-right:30px; font-size:15px; line-height:30px; }
    .xans-layout-footer .info { display:flex; margin:30px 0 0; }
	.xans-layout-footer .info .title { display:block; color:#000; margin:0 0 24px; font-size:16px; }
    .xans-layout-footer .info__address { flex:1; padding:0 20px 0 0; }
    .xans-layout-footer .info__address span { padding:0 25px 0 0; font-size:14px; line-height:30px; }
    .xans-layout-footer .info__customer { width:308px; padding:0 20px 0 0; box-sizing:border-box; }
    .xans-layout-footer .info__customer .toggle { display:none; }
    .xans-layout-footer .info__customer .tel { font-size:20px; }
    .xans-layout-footer .info__customer .runtime { margin:14px 0 0; font-size:14px; line-height:30px; color:#6d6d6d; }
    .xans-layout-footer .info__community a { display:block; margin:2px 0; padding:6px 0; font-size:14px; color:#6d6d6d; }
    .xans-layout-footer .sns { position:absolute; right:0; bottom:0; }
    .xans-layout-footer .copyright { margin:84px 0 0; font-size:13px; }
}
