/* font */
@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* body_footer */
body {
    font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

#footer .inner {
    position: sticky;
    border-top: 1px solid #000;
    padding: 50px 100px;
    height: fit-content;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}
#footer .inner .footer_wrapper{
    
}
#footer .inner .footer_wrapper .footer_gnb {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    gap: 30px;
    padding: 0 0 10px 0;
    border-bottom: #000 solid 1px;

}

#footer .inner .footer_wrapper .footer_gnb > li {
}

#footer .inner .footer_wrapper .footer_gnb > li > a {
    font-size: 14px;
}

/* logo */

#footer .inner .footer_wrapper .bt_logo {
    width: 260px;
    height: 50px;
    margin: 10px 0;
}
#footer .inner .footer_wrapper.bt_logo > a {
    width: 100%;
    height: 100%;
}
#footer .inner .footer_wrapper .bt_logo > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #aaa;
}

/* company_info */
#footer .inner .footer_wrapper .bt_info {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    gap: 20px;
}
#footer .inner .footer_wrapper .bt_info h2{
    font-size: 14px;
    font-weight: 600;
    margin-block: 0 0;
}

/* bt_txt02 start */

#footer .inner .footer_wrapper .bt_info .bt_txt02 {
    font-size: 13px;
}
#footer .inner .footer_wrapper .bt_info .bt_txt02 > span {
    font-weight: 400;
}
#footer .inner .footer_wrapper .bt_info .bt_txt02 > strong {
    font-weight: 600;
}

/* bt_txt02 end */

#footer .inner .footer_wrapper .bt_info .timeAndInfo > div > span {
    font-size: 13px;
    font-weight: 400;
    margin-block: 0 0;
}

#footer .inner .footer_wrapper .bt_info .timeAndInfo > div > span > strong {
    font-size: 13px;
    font-weight: 600;
    margin-block: 0 0;
}


/* right-side */
/* Social Networking Service */

#footer .inner .footer_company_info .bt_cscenter {
    
}
#footer .inner .footer_company_info .right_wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}

/* Social Networking Service - start */
#footer .inner .footer_company_info .right_wrapper .social_networking {
    border-bottom: 1px solid #222;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    padding-bottom: 10px;
}
#footer .inner .footer_company_info .right_wrapper .social_networking > h2 {
    font-size: 14px;
    font-weight: 600;
    margin-block: 0 0;
}
#footer .inner .footer_company_info .right_wrapper .social_networking .snsicon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
#footer .inner .footer_company_info .right_wrapper .social_networking .snsicon > li {
}

#footer .inner .footer_company_info .right_wrapper .social_networking .snsicon > li > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #aaa;
}

/* social networking - end */

#footer .inner .footer_company_info .right_wrapper .company_president_information {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
#footer .inner .footer_company_info .right_wrapper .company_president_information {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    font-size: 14px;
}

/* company and president information - start */
#footer .inner .footer_company_info .right_wrapper .company_president_information .company_name {
    font-size: 13px;
}
#footer .inner .footer_company_info .right_wrapper .company_president_information .company_name > span {
    font-weight: 400;
}
#footer .inner .footer_company_info .right_wrapper .company_president_information .company_name > span > strong {
    font-weight: 600;
}
#footer .inner .footer_company_info .right_wrapper .company_president_information .president_name > span{
    font-size: 13px;
    font-weight: 400;
}
#footer .inner .footer_company_info .right_wrapper .company_president_information .president_name > span > strong {
    font-size: 13px;
    font-weight: 600;
}
/* company and president information - end */

#footer .inner .footer_company_info .right_wrapper > div {
    font-size: 13px;
}
#footer .inner .footer_company_info .right_wrapper > div > span{
    font-weight: 400;
}
#footer .inner .footer_company_info .right_wrapper > div > span > strong{
    font-weight: 600;
}

/* bt_cscenter */
#footer .inner .bt_cscenter {
}
#footer .inner .bt_cscenter .cscenter_info{
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    font-size: 13px;
}
#footer .inner .bt_cscenter .cscenter_info > div {}
#footer .inner .bt_cscenter .cscenter_info > div > span {font-weight: 400;}
#footer .inner .bt_cscenter .cscenter_info > div > span > strong {font-weight: 600;}