:root{
    @font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
}

#venomguide_list {
    font-family: "GMarketSans";
}
#venomguide_list #title_wrapper {
    font-family: "GMarketSans";
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    margin: 0 100px;
    padding: 50px 0;
    border-bottom: 1px solid #000;
}
#venomguide_list #title_wrapper .venom_title {
    font-family: "GMarketSans";
    font-size: 40px;
}
#venomguide_list #title_wrapper .venom_sub {
    font-family: "GMarketSans";
    font-size: 24px;
}
#venomguide_list #venomManualList {
    
}
#venomguide_list #venomManualList .list_wrapper {
    width: fit-content;
    height: fit-content;
    margin: 50px 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
#venomguide_list #venomManualList .list_wrapper > li {
}
#venomguide_list #venomManualList .list_wrapper > li > a {
    width: 100%;
    height: 100%;
}
#venomguide_list #venomManualList .list_wrapper > li > a > img{
    width: 100%;
    height: 100%;
}